<a href="https://colab.research.google.com/github/hannahzzang1/python/blob/main/siat_python_day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플(tuple)
- 읽기전용
- 순서, 중복 허용
- 수정, 삭제 불가
- 필요에 따라서 데이터를 조작해야 할 경우 형변화 (Casting 연산자)
- indexing, slicing
- 선언 : (), tuple()
- Packing & Unpacking

In [ ]:
tmpTuple = (3,)
print('type - ', type(tmpTuple))

type -  <class 'tuple'>

In [ ]:
tmpTuple = 1, 2, 3, 4, 5, 6, 2
print('type - ', type(tmpTuple))
print('indexing -', tmpTuple[0])
print('slicing -', tmpTuple[0:2])

type -  <class 'tuple'>
indexing - 1
slicing - (1, 2)

In [ ]:
# error
print('count -', tmpTuple.count(6))
print('index -', tmpTuple.index(6))

count - 1
index - 5

In [ ]:
#Quiz
# casting 생각
# 튜플: 순서가 있으며 변경할 수 없는 값들의 집합
# 우리가 생성한 튜플의 요소의 값이 4인 데이터를 10으로 변경하고 결과를 확인하시오.

tmpLst = list(tmpTuple) #형변환
print('type - ', type(tmpLst))

tmpLst[tmpLst.index(4)] = 10
print('data - ', tmpTuple)
print('data - ', tmpLst)

type -  <class 'list'>
data -  (1, 2, 3, 4, 5, 6, 2)
data -  [1, 2, 3, 10, 5, 6, 2]

In [ ]:
data = tuple(range(2, 100, 2))
print('type - ', type(data))
# 1~99 까지의 정수 중 짝수만 튜플에 담아서 출력하시오
print('data - ', data)

type -  <class 'tuple'>
data -  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
packing = ('박신형', '김도균', '조영서', '임지연')
print('data - ', packing)
p, k, j, l = packing
print('data - ', p)
print('data - ', k)
print('data - ', j)
print('data - ', l)
print()
print('당신의 이름은 {} 입니다.'. format(p))
print('당신의 이름은 {} 입니다.'. format(k))
print('당신의 이름은 {} 입니다.'. format(j))
print('당신의 이름은 {} 입니다.'. format(l))

data -  ('박신형', '김도균', '조영서', '임지연')
data -  박신형
data -  김도균
data -  조영서
data -  임지연

당신의 이름은 박신형 입니다.
당신의 이름은 김도균 입니다.
당신의 이름은 조영서 입니다.
당신의 이름은 임지연 입니다.

In [ ]:
# 부분적으로 unpacking 하는법 = *all
p, k, *all = packing
print('당신의 이름은 {} 입니다.'. format(p))

# tuple이 아닌 list 로 반환되는 것을 확인할 수 있다.
print(all)

당신의 이름은 박신형 입니다.
['조영서', '임지연']

딕셔너리(dict)
- 범용적으로 많이 사용되는 변수
- 순서, 키 중복 허용하지 않음
- 수정, 삭제 가능
- key : value
- 선언 : {}, dict()

In [ ]:
dict01 = {
    'name'  : 'Lim' ,
    'phone' : '010-xxxx-xxxx' ,
    'birth' : '030831'
}
print('type - ', type(dict01))
print('data - ', dict01)

type -  <class 'dict'>
data -  {'name': 'Lim', 'phone': '010-xxxx-xxxx', 'birth': '030831'}

In [ ]:
# 키 유무 판단하기
# in (dict type 내에서는 키 유무 판단)

print('name' in dict01)

True

In [ ]:
# 데이터 수정
dict01['name'] = 'Park'
print(dict01)

{'name': 'Park', 'phone': '010-xxxx-xxxx', 'birth': '030831'}

In [ ]:
items = {
    '메로나' : [300, 20] ,
    '비비빅' : [400, 20] ,
    '죠스바' : [100, 50] ,
}
print('data - ', items)

data -  {'메로나': [300, 20], '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
# Quiz
# 메로나의 가격을 출력하시오.

items['메로나'][0]

300

In [ ]:
items = {
    '메로나' : {'price' : 300, 'qty' : 20} ,
    '비비빅' : [400, 20] ,
    '죠스바' : [100, 50] ,
}
print('data - ', items)

data -  {'메로나': {'price': 300, 'qty': 20}, '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
# Quiz
# 메로나의 가격을 출력하시오.

print('메로나의 가격은 {} 입니다'.format(items['메로나']['price']))

메로나의 가격은 300 입니다

In [ ]:
# Quiz
# 메로나의 수량을 100개로 수정하고 결과를 확인하시오

items['메로나']['qty'] = 100
print(items['메로나'])

{'price': 300, 'qty': 100}

In [ ]:
# Quiz
# 새로운 상품을 출시하고자한다.
# 새로운 상품의 이름은 녹차바이고 가격은 100원이고 수량은 10개로 한다.
# 추가된 상품을 포함하는 items 를 출력하시오

items['녹차바'] = [100, 10]
print(items)

{'메로나': {'price': 300, 'qty': 100}, '비비빅': [400, 20], '죠스바': [100, 50], '녹차바': [100, 10]}

In [ ]:
# Quiz
# 메로나의 가격을 10% 인상하여 데이터를 확인하시오

items['메로나']['price'] = int(items['메로나']['price'] * 1.1)
print(items)

{'메로나': {'price': 330, 'qty': 20}, '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
# 두 개의 튜플형식의 데이터를 딕셔너리형식으로 만들어 출력한다면?
# zip() 함수
keys = ('apple', 'pear', 'peaches')
vals = (1000, 2000, 3000)

zipDict = dict(zip(keys, vals))
print(zipDict)

{'apple': 1000, 'pear': 2000, 'peaches': 3000}

In [ ]:
# Dict 이 가지고 있는 함수
# keys(), values(), items()
for key in zipDict.keys() :
  print(key)
print()
for value in zipDict.values() :
  print(value)
print()
for key, value in zipDict.items() :
  print(key, value)

apple
pear
peaches

1000
2000
3000

apple 1000
pear 2000
peaches 3000

In [ ]:
# Quiz
# 단어의 빈도수를 구한다면?
# 출력예시) {'love' : 2, ~~}

wordLst = ['love', 'dog', 'cat', 'love', 'word', 'horse', 'dog', 'dog', 'cat']
result = {}

In [ ]:
print('case01 - ')
for word in wordLst :
  if word in result :
    result[word] += 1
  else :
    result[word] = 1
print(result)

case01 -
{'word': 2, 'horse': 2, 'love': 4, 'cat': 4, 'dog': 6}

In [ ]:
print('case02 - ')
result.clear()
for word in wordLst :
  result[word] = result.get(word,0) + 1
print(result)

case02 -
{'love': 2, 'dog': 3, 'cat': 2, 'word': 1, 'horse': 1}

Set- 집합 자료형
- 순서, 중복 허용하지 않음
- 선언 : {}, set()
- 인덱싱, 슬라이싱 불가

In [ ]:
tmpSet = {1, 2, 3, 4, 'jslim', 5, 1, 2, 3, 4, 5}
print('type - ', type(tmpSet))
print('data - ', tmpSet)

type -  <class 'set'>
data -  {1, 'jslim', 3, 2, 4, 5}

In [ ]:
print('case03 -')
result.clear()
result = dict(zip(set(wordLst), [wordLst.count(word)for word in set(wordLst)]))
print(result)

case03 -
{'word': 1, 'horse': 1, 'love': 2, 'cat': 2, 'dog': 3}

In [ ]:
print('case04 - ')
for word in list(set(wordLst)) :
  result.update({word : wordLst.count(word)})
print(result)

case04 -
{'word': 1, 'horse': 1, 'love': 2, 'cat': 2, 'dog': 3}

In [ ]:
tmpSet = set([1,2,3,4,1,2,3,4])
print('type - ', type(tmpSet))
print('data - ', tmpSet)
print('in - ', 2 in tmpSet)
#error
#print('indexing - ', tmpSet[0])
#set -> tuple
tmpTuple = tuple(tmpSet)
print('type - ', type(tmpTuple))
print('indexing - ', tmpTuple[0])

type -  <class 'set'>
data -  {1, 2, 3, 4}
in -  True
type -  <class 'tuple'>
indexing -  1

In [ ]:
set = {1,2,3}
del set
del print
new_set = set([4,5,6])

print(new_set)

{4, 5, 6}

In [ ]:
# Quiz
# 중복을 제거하여 성별을 조회하시오
gender = ['남자', '여자', '남자', '남자', '여자', '여자', '남자']
print(list(set(gender)))

['여자', '남자']

In [ ]:
#교집합(intersection), 합집합(union), 차집합(difference)
set01 = set([1, 2, 3, 4, 5])
set02 = set ([3, 4, 5, 6, 7])
print('intersection - ', set01.intersection(set02) , set01 & set02)
print('union - ', set01.union(set02), set01 | set02)
print('difference - ', set01.difference(set02), set01 - set02)

intersection -  {3, 4, 5} {3, 4, 5}
union -  {1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7}
difference -  {1, 2} {1, 2}

In [ ]:
# set 타입의 변수에 새로운 데이터 추가 가능할까요?
set02.add(8)
print('add - ', set02)

add -  {3, 4, 5, 6, 7, 8}

In [ ]:
# 삭제 가능할까요?
set02.remove(8)
print('remove - ', set02)

remove -  {3, 4, 5, 6, 7}

In [ ]:
# Quiz
# 단어의 빈도수를 구한다면?
# 출력예시) {'love' : 2, ~~}

wordLst = ['love', 'dog', 'cat', 'love', 'word', 'horse', 'dog', 'dog', 'cat']
result = {}

print('case05 -')
result.clear()
wordSet = set(wordLst)
for word in wordSet :
  cnt = 0
  for idx in range(len(wordLst)) :
    if wordLst[idx] == word :
      cnt += 1
    result[word] = cnt
  print(result)

case05 -
{'word': 1}
{'word': 1, 'horse': 1}
{'word': 1, 'horse': 1, 'love': 2}
{'word': 1, 'horse': 1, 'love': 2, 'cat': 2}
{'word': 1, 'horse': 1, 'love': 2, 'cat': 2, 'dog': 3}