<a href="https://colab.research.google.com/github/hannahzzang1/python/blob/main/siat_python_day06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 이중 루프구문
# 구구단 작성

for i in range(2, 10):
  print('>>> dan = {}'.format(i))
  for j in range(1,10):
    print(j, end="\t")
  print() #개행

>>> dan = 2
1	2	3	4	5	6	7	8	9
>>> dan = 3
1	2	3	4	5	6	7	8	9
>>> dan = 4
1	2	3	4	5	6	7	8	9
>>> dan = 5
1	2	3	4	5	6	7	8	9
>>> dan = 6
1	2	3	4	5	6	7	8	9
>>> dan = 7
1	2	3	4	5	6	7	8	9
>>> dan = 8
1	2	3	4	5	6	7	8	9
>>> dan = 9
1	2	3	4	5	6	7	8	9

In [ ]:
for i in range(2, 10):
  print('>>> dan = {}'.format(i))
  for j in range(1,10):
    print('{}*{}={}'.format(i, j, (i*j)), end="\t")
  print()

>>> dan = 2
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
>>> dan = 3
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
>>> dan = 4
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
>>> dan = 5
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
>>> dan = 6
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
>>> dan = 7
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
>>> dan = 8
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
>>> dan = 9
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [ ]:
# 5단을 제외하고 출력한다면?
for i in range(2, 10):
  if i == 5:
    continue
  print('>>> dan = {}'.format(i))
  for j in range(1,10):
    print('{}*{}={}'.format(i, j, (i*j)), end="\t")
  print()

>>> dan = 2
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
>>> dan = 3
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
>>> dan = 4
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
>>> dan = 6
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
>>> dan = 7
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
>>> dan = 8
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
>>> dan = 9
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [ ]:
# 5단까지만 출력된다면?
for i in range(2, 10):
  print('>>> dan = {}'.format(i))
  for j in range(1,10):
    print('{}*{}={}'.format(i, j, (i*j)), end="\t")
  if i == 5:
    break
  print()

>>> dan = 2
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
>>> dan = 3
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
>>> dan = 4
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
>>> dan = 5
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45

In [ ]:
# Quiz
# 제공되는 데이터를 이중 루프구문을  이용하여
# 행과 열의 값을 테이블 형태로 출력하시오.

lst = [[1,2,3],[4,5,6,7],[8,9],[10,11,12,13,14]]
for i in lst:
  for j in i:
    print(j, end="\t")
  print()

1	2	3
4	5	6	7
8	9
10	11	12	13	14

In [ ]:
lst = [[1,2,3],[4,5,6,7],[8,9],[10,11,12,13,14]]
#for i in lst:
#  for j in i:
#    print(j, end="\t")
#  print()

# 인덱스를 이용해서 9을 찾고
# 9 밑에 있는 11의 값을 출력하시오.

for i in range(len(lst)):
  for j in range(len(lst[i])):
    print(lst[i][j], end = "\t")
  print()

1	2	3
4	5	6	7
8	9
10	11	12	13	14

In [ ]:
lst = [[1,2,3],[4,5,6,7],[8,9],[10,11,12,13,14]]
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if lst[i][j]== 9:
      print('find-', lst[i+1][j])
  print()

find- 11

In [ ]:
# 문자열 루프구문
str = 'siat'
for idx in range(len(str)):
  print(str[idx], end = '\t')

s	i	a	t

In [ ]:
string = \
'''
저는 파이썬을 강의하고 있는 임정섭 입니다.
주소는 서울 입니다.
씨앗에서 교육 중입니다.
'''
print(string)

# \n: 개행

저는 파이썬을 강의하고 있는 임정섭 입니다.
주소는 서울 입니다.
씨앗에서 교육 중입니다.

In [ ]:
# Quiz
# 주어진 문자열에서 문장과 단어를 출력하시오
# 문장의 갯수, 단어의 갯수도 출력
# 출력예시) 문장들, 문장의 길이
# 출력예시) 단어들, 단어의 갯수

string = \
'''저는 파이썬을 강의하고 있는 임정섭 입니다.
주소는 서울 입니다.
씨앗에서 교육 중입니다.'''
print(string)
print()

sentences=[]
words =[]

for sentence in string.split('\n'):
  sentences.append(sentence)
  for word in sentence.split(' '):
    words.append(word)

print(sentences, len(sentences))
print(words, len(words))

저는 파이썬을 강의하고 있는 임정섭 입니다.
주소는 서울 입니다.
씨앗에서 교육 중입니다.

['저는 파이썬을 강의하고 있는 임정섭 입니다.', '주소는 서울 입니다.', '씨앗에서 교육 중입니다.'] 3
['저는', '파이썬을', '강의하고', '있는', '임정섭', '입니다.', '주소는', '서울', '입니다.', '씨앗에서', '교육', '중입니다.'] 12

In [ ]:
# Quiz
# 분류정확도를 구해보고싶다.
# 주어진 두개의 변수를 이용해서 예측결과 %로 출력하시오
# 출력형식(분류정확도는 60%입니다.)

answer  = [1,2,0,2,1,0,0,1,2,1]
predict = [2,2,1,2,1,1,0,1,2,0]
cnt = 0

for i in range(len(predict)):
  if answer[i] == predict[i]:
    cnt +=1
print()
print('분류정확도는 {}%입니다.'.format(cnt/len(answer)*100))

분류정확도는 60.0%입니다.

In [ ]:
# Quiz
# 분류정확도를 구해보고싶다.
# 주어진 두개의 변수를 이용해서 예측결과 %로 출력하시오
# 출력형식(분류정확도는 60%입니다.)

answer  = [1,2,0,2,1,0,0,1,2,1]
predict = [2,2,1,2,1,1,0,1,2,0]
cnt = 0

for i in range(len(answer)): #range는 숫자만 받는다.
  if answer[i] == predict[i] :
    cnt+=1
  print()
print('분류정확도: {}%'.format(cnt/len(answer)*100))

분류정확도: 60.0%

In [ ]:
# 루프 구문(while~)
# 구문형식)
# while <expr>:
# <statement>
# 조건의 변화가 있어야 한다.

In [ ]:
# Quiz
# while 구문을 이용해서 '반복문'을 10번 출력하고 싶다면?

cnt = 0

while cnt< 10 : #True
  print('반복문')
  cnt+=1

반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문

In [ ]:
# Quiz
# while 구문을 데이터 출력
lst = ['foo', 'bar', 'baz']

while lst:
  print(lst.pop()) #순서대로 하고 싶을 경우, 0 기입

baz
bar
foo

In [ ]:
lst = ['foo', 'bar', 'baz']
idx = 0
while idx < len(lst):
  print(lst[idx])
  idx+=1

foo
bar
baz

In [ ]:
# Quiz
# 아래 구문을 이용해서 데이터를 출력한다면?

lst = ['foo', 'bar', 'baz']
isFlag = True
while isFlag :
  if not lst :
    isFlag = False
    break
  print(lst.pop())

baz
bar
foo

In [ ]:
from random import betavariate
# while (break, continue)
# 0~9 까지 반복하면서
# 3을 만나면 계속 반복하고
# 6을 만나면 반복문을 탈출하여 현재까지 진행된 데이터를 출력하시오.

cnt = 0
while cnt < 10:
  if cnt ==3:
    cnt +=1
    continue
  if cnt == 6:
    break
  print(cnt)
  cnt +=1

0
1
2
4
5

In [ ]:
#while ~else
# 리스트에 없는 데이터를 찾고자할 때 '데이터가 없습니다' 메세지를 출력
lst=['foo','bar','baz']
idx = 0
while idx < len(lst):
  if lst[idx]=='foo':
    print('데이터를 찾았습니다.')
    break
  idx += 1
else:
  print('데이터가 없습니다.')

데이터를 찾았습니다.

In [ ]:
# Quiz
# while 무한반복
# input() 함수를 이용해서 숫자를 입력받는다.
# 입력받은 숫자의 값이 0이면 무한반복을 탈출하고
# 입력된 숫자를 출력하시오.

lst=[]
while True:
  number = int(input("숫자를 입력하시오: "))
  if number == 0:
    break
  else:
    lst.append(number)

print()
print(lst)

숫자를 입력하시오: 5
숫자를 입력하시오: 6
숫자를 입력하시오: 0

[5, 6]