<a href="https://colab.research.google.com/github/hannahzzang1/python/blob/main/siat_python_day05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 날짜타입
# conda install 구문
# pip install 구문
# conda numpy
# install 과정을 통해서 library 설치 가능
# 형식) import 모듈이름
# 형식) from   모듈이름 import 함수 또는 클래스
# 형식) from   패키지명 import 모듈

In [ ]:
# 형식) from   패키지명 import 모듈
# date 라는 모듈 내 today 함수 호출
# 객체 내 클래스, 메서드, 함수 존재
# 메서드는 클래스내에 존재
# 함수는 클래스 외부에 존재, 독립시행이 가능


# date, datetime: 클래스
# 클래스에는 변수, 함수가 있는데 독립실행이 불가능하므로, today()는 메서드
from datetime import date, datetime
nowDay = date.today()
print(nowDay)
print('type - ', type(nowDay))

2025-01-20
type -  <class 'datetime.date'>

In [ ]:
# year는 괄호가 없으므로 변수
# 반환받은 객체는 변수
# 호출된 객체 타입이 변수/함수/메서드인지 구분 필요

print('년 - ', nowDay.year)
print('월 - ', nowDay.month)
print('일 - ', nowDay.day)

년 -  2025
월 -  1
일 -  20

In [ ]:
nowDatetime = datetime.today()
print(nowDatetime)
print('시 - ', nowDatetime.hour)
print('분 - ', nowDatetime.minute)
print('초 - ', nowDatetime.second)

2025-01-20 01:03:42.276124
시 -  1
분 -  3
초 -  42

In [ ]:
# 날짜타입에 대한 연산은 가능할까?
# print(nowDay + 1) -- error
from datetime import date, datetime, timedelta
days = timedelta(days=-1)
print('days -', nowDay + days)

days - 2025-01-19

In [ ]:
# months = timedelta(months = -2)
# print('months -', nowDay + months) -- error
# realativedelta 는 년, 월의 연산을 도와줌

# from 패키지.모듈 import 함수
from dateutil.relativedelta import relativedelta
months = relativedelta(months=-2)
print('months -', nowDay + months)

months - 2024-11-20

In [ ]:
# from 패키지.모듈 import 함수
# 라이브러리 함수이기 때문에 casting이 안된다.
# 문자를 날짜타입으로 변환해주는 함수 - parse()

from dateutil.parser import parse

str = '2025-01-20'
print('type - ', type(str))

today = parse(str)
print('type - ', type(today))  # 년, 월, 일, 시, 분, 초 출력가능

type -  <class 'str'>
type -  <class 'datetime.datetime'>

In [ ]:
# 관계 연산자 종류
# >, >=, <, <=, ==, !=

print(3+12>7+3)
x = 15    # 여기서 '='는할당연산
y = 10

print(x==y)
print(x!=y) # '!=' : 같지 않으면 true
print(x>y)
print(x>=y)

# 연산자의 우선순위: 산술 > 관계> 비교

True
False
True
True
True

In [ ]:
score = 90
grade = 'A'

#복수의 조건이 모두 참일 경우 실행하게 조건을 만들고 싶다면?
# >=: 비교연산자, and: 비교연산자
if score >= 90 and grade == 'A':
  print('Pass')
else:
  print("Fail")

Pass

In [ ]:
admin = 'admin'
grade = ['platinum', 'gold']

# 어드민의 권한이 두가지가 있다
# 플래티넘이면 최상위 관리자
# 그렇지 않으면 일반관리자로 구분하고 싶다면?

for data in grade:
  print(data)
if admin == 'admin' and data == 'platinum':
  print('최상위 관리자')
else:
  print('일반관리자')

In [ ]:
# 반복구문
# 루프문
# for ~ in 열거형변수(순서가 있는 변수타입) :
# e.g. 튜플, 리스트, 문자열
# while (조건식): True/false
# 조건의 변화(증감, 불리언 값의 변화)

print('case01 - ')
for idx in range(0, 10):
  print('반복문')
print()

print('case01 - ')
for idx in range(0, 10):
  print('index{}- 반복문'.format(idx))

case01 -
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문

case01 -
index0- 반복문
index1- 반복문
index2- 반복문
index3- 반복문
index4- 반복문
index5- 반복문
index6- 반복문
index7- 반복문
index8- 반복문
index9- 반복문

In [ ]:
# Quiz
# input 함수를 이용해서 10명의 성적을 입력받고
# 입력된 10명의 성적을 출력하고 싶다면?
# list 이용

scores = []
for idx in range(10):
  scores.insert(idx, int(input('성적을 입력하세요 :'))) #insert 외 append 도 사용 가능
print()
for idx in range(len(scores)) :
  print(scores[idx], end = "\t")

성적을 입력하세요 :32
성적을 입력하세요 :23
성적을 입력하세요 :23
성적을 입력하세요 :32
성적을 입력하세요 :34
성적을 입력하세요 :34
성적을 입력하세요 :54
성적을 입력하세요 :56
성적을 입력하세요 :56
성적을 입력하세요 :56

32	23	23	32	34	34	54	56	56	56

In [ ]:
len(scores)

10

In [ ]:
# Quiz
# 입력받은 점수의 총합과 평균을 구하시오

print('scores-', scores)
scoreSum = 0
for score in scores:
  scoreSum +=score
print()
scoreAvg = scoreSum / len(scores)
print('성적의 총합은 {}이고, 평균은 {}입니다.'.format(scoreSum, scoreAvg))

scores- [32, 23, 23, 32, 34, 34, 54, 56, 56, 56]

성적의 총합은 400이고, 평균은 40.0입니다.

In [ ]:
# 반복구문 중 특정 조건에 만족했을 때
# 반복구문을 빠져나와야하는 상황이라면? - break, continue(조건만 skip)

#Quiz
# input 함수를 이용해서 강아지의 이름을 입력받다가
# 강아지의 이름이 '아토'가 입력되면 입력을 멈추고
# 입력된 강아지 이름을 출력하시오.

pets = []
isFlag = True
for idx in range(10) :
  name = input("강아지의 이름을 입력하시오: ")
  if name == '아토' :
    break
  else:
    pets.append(name)
print()
print(pets)

강아지의 이름을 입력하시오: 해피
강아지의 이름을 입력하시오: 까미
강아지의 이름을 입력하시오: 아토

['해피', '까미']

In [ ]:
pets = []
isFlag = True
while isFlag:
  name = input("강아지의 이름을 입력하시오: ")
  if name == '아토' :
    isFlag = False
  else:
    pets.append(name)
print()
print(pets)

강아지의 이름을 입력하시오: 해피
강아지의 이름을 입력하시오: 쿤
강아지의 이름을 입력하시오: 아토

['해피', '쿤']

In [ ]:
# 구구단의 3단만 출력하시오
# for in 구문

dan = 3
for value in range(1,10) :
  print('{}*{}'.format(dan, value, (dan*value)))

3*1
3*2
3*3
3*4
3*5
3*6
3*7
3*8
3*9

In [ ]:
# 구구단의 3단만 출력하시오
# 값이 홀수인것들만 출력하시오

dan = 3
for value in range(1,10) :
  if (dan*value)%2==1 :
    print('{}*{}={}'.format(dan, value, (dan*value)))

3*1=3
3*3=9
3*5=15
3*7=21
3*9=27

In [ ]:
# 월드컵은 4년에 한 번 개최된다.
# 2002년 이후 월드컵이 개최된 년도를 출력하시오.
# for if
# 스텝이 4씩 증가
# 2002~2025

for year in range(2002,2026,4):
  print(year)

2002
2006
2010
2014
2018
2022

In [ ]:
# literables 자료형 반복
# 함수 : range(), reversed(), enumerate(), filter(), map(), zip()
# Quiz
# 파일 이름이 저장된 리스트에서
# 확장자를 제거하고, 파일 이름만 출력하시오.

lst = ['hello.py', 'ex01.py', 'siat.hwp', 'intro.doc'] # 열거형이기 떄문에 for if 가능
for file in lst:
  #print(file, type(file)) -> string 확인
  print(file.split('.')[0])
print()

result = [file.split('.')[0] for file in lst]
print(result)

hello
ex01
siat
intro

['hello', 'ex01', 'siat', 'intro']

In [ ]:
#Quiz
# 파일 이름이 저장된 리스트에서
# 첫 글자를 대문자로 변경해서 출력하시오.

for file in lst :
  # print(file.captialize())
  print(file[0].upper()+file[1:])

Hello.py
Ex01.py
Siat.hwp
Intro.doc

In [ ]:
word = 'beautiful'
for w in word:
  if w == 't':
    continue
  print(w, end="\t")

b	e	a	u	i	f	u	l

In [ ]:
tmpDict = {
    'name': 'eunjung',
    'age' : 20,
    'city': 'seoul'
}

for key in tmpDict.keys():
  print(tmpDict[key]) #Q

eunjung
20
seoul

In [ ]:
# Quiz
# 제공되는 문자열을 모두 대문자로 출력하시오
# hint - isupper(), upper()
fruitName = "PineApple"

for w in fruitName:
  if w.isupper() :
    print(w, end="")
  else:
    print(w.upper(), end="")

PINEAPPLE

In [ ]:
# for ~ in 변수:
# else:
# 루프의 마지막까지 찾았지만 없는 경우 else 구문 수행
# 주의) for 구문 안에 break를 실행하지 않을 때만 수행
#파이썬에만 for else 구문 존재

# 만약 45 값을 찾고싶다면?
numbers = [14,3,4,7,10,24]
for number in numbers:
  if number == 7:
    print('Found')
    break
else:
  print('Not Found')

Found

In [ ]:
# Quiz
# 1~10 사이의 난수를 생성하고 숫자를 맞춰보자

from random import randint #random이라는 모듈로부터 함수 추출
answer = randint(1,10)
print('answer-', answer)

answer- 10

In [ ]:
# Quiz
# 1~10 사이의 난수를 생성하고 숫자를 맞춰보자
# 무엇을 기준으로? 정답?
# 시도횟수는 10번으로 제한
# 출력형식) x 번째 정답을 맞췄습니다.
# 출력형식) 정답을 맞추지 못했습니다.
# 반복구문은 for, while
# guess game
# ==, > , <

from random import randint #
answer = randint(1,100)
print('answer-', answer)
for number in range(10):
  a = int(input("1~100 사이의 숫자를 입력하시오: "))
  if a == answer:
    print('{}번째 정답을 맞췄습니다. 정답은 {}'.format(number+1, answer))
    break
  elif a > answer:
    print('>>> Down')
  else:
    print('>>> Up')
else:
  print('전부 틀렸습니다.')

answer- 24