<a href="https://colab.research.google.com/github/hannahzzang1/python/blob/main/siat_python_day04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬의 사용자 입력함수
# input() -> STR(문자열) 반환
print('이름을 입력하세요 :')
name = input()
print('name -', name, type(name))

이름을 입력하세요 :
eunjung
name - eunjung <class 'str'>

In [ ]:
name = input('이름을 입력하세요 :')
print('name -', name, type(name))
age = int(input('나이를 입력하세요 : '))
print('age - ', age, type(age))
height = float(input('키를 입력하세요 : '))
print('height -', height, type(height))

이름을 입력하세요 :eunjung
name - eunjung <class 'str'>
나이를 입력하세요 : 20
age -  20 <class 'int'>
키를 입력하세요 : 160
height - 160.0 <class 'float'>

In [ ]:
# boolean type
# True | False
# '', [], (), {}, None -> False

tmpLst =[]
tmpStr = ''
print('boolean -', bool(tmpLst), bool(tmpStr))

boolean - False False

In [ ]:
isFlag = True
print('boolean casting - ', int(isFlag))

isFlag = False
print('boolean casting - ', int(isFlag))

boolean casting -  1
boolean casting -  0

In [ ]:
# boolean -  논리연산자(not, and, or), 비교연산자(&, |, ~)
x = 5
y = 0
print ( x & y, bool (x & y)) # 0101 & 0000 => 0000 => 0
print ( x | y, bool (x | y))

0 False
5 True

In [ ]:
x = True
y = False
print ( x & y, int (x & y))
print ( x | y, int (x | y))

False 0
True 1

In [ ]:
# 제어구문
# if  조건식 :
# 들여쓰기 (indent)

tmpLst = [1]
if tmpLst :
  print('pass')
else :
  print('fail')

tmpLst = []
if tmpLst :
  print('pass')
else :
  print('fail')

pass
fail

In [ ]:
# Quiz
# input() 함수를 이용해서 사용자의 점수를 입력받고 60점 이상이면 패스, 아니면 과락을 출력하시오

score = int(input("점수를 입력 : "))
if score >=60 :
  print('pass')
else :
  print('fail')

점수를 입력 : 60
pass

In [ ]:
# Quiz
# region 이 areas 에 있는 지역인지 아닌지를 판단하고 싶다면?
# if ~ in
areas = ['서울', '부산', '서산', '광주']
region = '수원'

if region in areas :
  print('yes')
else :
  print('no')

no

In [ ]:
# Quiz
# region 이 areas 에 키로 존재하는지를 판단하고 싶다면?
# if ~ in
areas = {'서울' : 100 , '부산' : 200 , '서산' : 300 , '광주' : 400}
region = '수원'

if region in areas :
  print('yes')
else :
  print('no')

no

In [ ]:
# Quiz
# 윤년(Leap year)
# 4의 배수이고 100의 배수가 아니거나 400의 배수일 때
# input 함수를 이용해서 년도를 입력받고
# 해당년도가 윤년인지 아닌지를 판단하고 싶다면?

year = int(input())
if (year%4==0 and year%100!=0) or (year%400==0) :
  print('Leap year')
else :
  print('not Leap year')

2025
not Leap year

In [ ]:
# input 함수를 이용해서 년도와 월을 입력받아
# 해당년도가 윤년일 경우 2월달의 마지막은 29일, 평년일경우 마지막일은 28일
# 출력예시) xxxx년 x월의 마지막일은 xx일 입니다.

year = int(input("년도 입력 :"))
month = int(input("월 입력 :"))
print('년도 :{}, 월 {}'. format(year, month))
print()

yearMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
leapMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if (year%4==0 and year%100!=0) or (year%400==0) :
  print('{} 년 {}월의 마지막일은 {}일 입니다.' .format(year, month, leapMonth[month -1]))
else :
  print('{} 년 {}월의 마지막일은 {}일 입니다.' .format(year, month, yearMonth[month -1]))

년도 입력 :2025
월 입력 :5
년도 :2025, 월 5

2025 년 5월의 마지막일은 31일 입니다.

In [ ]:
year = int(input("년도 입력 :"))
month = int(input("월 입력 :"))
print('년도 :{}, 월 {}'. format(year, month))
print()

months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if (year%4==0 and year%100!=0) or (year%400==0) :
    if month ==2 :
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]+1))
    else:
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]))
else :
  print('{} 년 {}월의 마지막일은 {}일 입니다.' .format(year, month, months[month -1]))

년도 입력 :2025
월 입력 :2
년도 :2025, 월 2

2025 년 2월의 마지막일은 28일 입니다.

In [ ]:
year = int(input("년도 입력 :"))
month = int(input("월 입력 :"))
print('년도 :{}, 월 {}'. format(year, month))
print()

months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if (year%4==0 and year%100!=0)  :
    if month ==2 :
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]+1))
    else:
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]))
elif (year%400==0) :
    if month ==2 :
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]+1))
    else:
      print('{} 년 {}월의 마지막일은 {}일 입니다'. format(year, month, months[month -1]))
else:
  print('{} 년 {}월의 마지막일은 {}일 입니다.' .format(year, month, months[month -1]))

년도 입력 :2025
월 입력 :5
년도 :2025, 월 5

2025 년 5월의 마지막일은 31일 입니다.

In [ ]:
# 중첩 조건문
# 등급이 A 이고, 평균이 95점 이상이면 장학금 100% 이하면 90% 장학금

grade = 'A'
avg = 91

if grade == 'A':
  if avg >= 95 :
    print('장학금 100%')
  else :
    print('장학금 90%')

장학금 90%

In [ ]:
# 다중 조건문
# if ~ elif ~ elif ~ elif ~ else
# Quiz
# 학생의 총점을 입력받아서
# 100 ~ 85 이면 우수, 84~70 이면 보통, 69이하면 저조
# 이렇게 판단하고 싶다면?

score = int(input("점수를 입력하시오 :"))
if score <=100 & score >=85 :
  print ('우수')
elif score >=84 & score <=70 :
  print ('보통')
elif score <=69 :
  print ('저조')

점수를 입력하시오 :50
보통

In [ ]:
score = int(input("점수를 입력하시오 :"))
grade = ''
if score <=100 and score >=85 :
  grade = '우수'
elif score >=84 and score <=70 :
  grade = '보통'
else :
  grade = '저조'

print('당신의 점수는 %d점 이고, 등급은 %s 입니다.' % (score, grade))

점수를 입력하시오 :50
당신의 점수는 50점 이고, 등급은 저조 입니다.

In [ ]:
# Quiz (중첩)
# 학생의 학점과 점수를 입력받아서
# A학점이면서 90 이상이면 장학금 100%
# A학점이면서 80 이상이면 장학금 80%
# A학점이면서 80 미만이면 장학금 70%
# A학점이 아니면 장학금 50%
# 셀나누기 = ctrl  + n + -

grade = (input("학점을 입력하시오 :"))
score = int(input("점수를 입력하시오 :"))
if grade == 'A' :
  if score >= 90 :
    print ('장학금 100%')
  elif score >= 80 :
    print ('장학금 80%')
  else:
    print ('장학금 70%')
else:
  print ('장학금 50%')

학점을 입력하시오 :A
점수를 입력하시오 :50
장학금 70%

In [ ]:
a= 100
b= 50
result = a+b
print(result)
print(a, '+', b ,'=', result)

150
100 + 50 = 150

In [ ]:
a,b,c,d=0,0,0,0
hap = 0

a= int(input("1번째 숫자 : "))
b= int(input("2번째 숫자 : "))
c= int(input("3번째 숫자 : "))
d= int(input("4번째 숫자 : "))

hap = a+b+c+d
print ("합계 ==> %d" %hap)

1번째 숫자 : 2
2번째 숫자 : 5
3번째 숫자 : 7
4번째 숫자 : 9
합계 ==> 23

In [ ]:
aa= []
for i in range(0,100):
  aa.append(0)
len(aa)

100

In [ ]:
# 삼항연산자
# 조건식, 참, 거짓
# 형식) 참 if (조건식) else 거짓

data = 9
if data >= 5:
  result = data * 2
else :
  result = data + 2
print('reslt -', result)
print()
print('삼항연산자 -')
result = data * 2 if (data >=5) else data + 2
print('result -', result)

reslt - 18

삼항연산자 -
result - 18

In [ ]:
# if ~ in 구문
# Quiz
# 제공되는 데이터타입에서 이름이 'hannah'인 데이터가 있다면 ok 없으면 fail 출력
tmpDict = {
    'name'    : 'hannah',
    'city'    : 'seoul',
    'gender'  : 'female'
}
if 'hannah' in tmpDict.values() :
  print ('ok')
else :
   print ('fail')

ok

In [ ]:
tmpDict = {
    'name'    : 'hannah',
    'city'    : 'seoul',
    'gender'  : 'female'
}
if 'HANNAH'.lower() in tmpDict.values() :
  print ('ok')
else :
  print ('fail')

ok

In [ ]:
fruit = {"봄" : "딸기",
         "여름" : "토마토",
         "가을" : "사과"
}

answer = input("계절을 입력하시오 :")
print('debug - ' , answer)

if answer in fruit.keys() :
  print ('정답입니다')
else:
  print ('오답입니다')

계절을 입력하시오 :봄
debug -  봄
정답입니다

In [ ]:
fruit = {"봄" : "딸기",
         "여름" : "토마토",
         "가을" : "사과"
}

answer = input("계절을 입력하시오 :")
print('debug-', answer)
if answer in fruit.keys() :
  print ('정답입니다')
else:
  print ('오답입니다')

계절을 입력하시오 :봄
debug- 봄
정답입니다

In [ ]:
score = input("점수를 입력하시오 :")
if score > 80 & score <= 100 :
  print ('A')
elif score <=80 & score >60 :
  print ('B')
elif score <=60 & score >40 :
  print ('C')
elif score >20& score <=40 :
  print ('D')
elif score <= 20 :
  print ('E')

점수를 입력하시오 :50

TypeError: unsupported operand type(s) for &: 'int' and 'str'

In [ ]:
fruit = ["사과", "포도", "홍시"]
answer = input('과일을 입력하시오: ')
if answer in fruit :
  print ('정답입니다')
else :
  print ('오답입니다')

과일을 입력하시오: 포도
정답입니다