<a href="https://colab.research.google.com/github/hannahzzang1/python/blob/main/Siat_Python_Day02_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문자열에서 도메인만 출력하시오.
url = "http://www.naver.com"
print ('type -' , type(url))

print ('find - ', url.find('com'))
print('com -' , url[-3:])
print('com-', url[url.find('com'):])

type - <class 'str'>
find -  17
com - com
com- com

In [ ]:
companyName =  "    삼성전자    "
print('length - ', len(companyName))
print(companyName.lstrip(), len(companyName.lstrip()))
print(companyName.rstrip(), len(companyName.rstrip()))
print(companyName.strip(), len(companyName.strip()))

length -  12
삼성전자     8
    삼성전자 8
삼성전자 4

In [ ]:
# 제공되는 문자열을 대문자로 변환하시오
companyName = 'samsung'
print('대문자 -', companyName. upper())

대문자 - SAMSUNG

In [ ]:
# 제공되는 문자열에서 파일의 확장자가 xls, xlsx 파일인지를 확인하고 싶다.
filename = 'report.xlsx'
flag = filename.endswith(('xls', 'xlsx'))
print('flag - ' , flag)

flag -  True

In [ ]:
# in, not in 연산자
# 제공되는 리스트에서 melon이 있는지 없는지 판단하고 싶다면?

exLst =  ['apple', 'banana', 'durian', 'orange']
print ('melon' not in exLst)

True

In [ ]:
# 대용량의 데이터를 다루기 위한 중요한 변수타입은 list
# array X ,
# 순서, 중복, 수정, 삭제 가능
# [] , list() ->  객체 사용 가능. Instance

dummyLst = []
print('type - ', type(dummyLst))
print('data -', dummyLst)

# 데이터 넣기
dummyLst.append('A')
dummyLst.append('B')
print('append - ', dummyLst)
dummyLst.insert(1,'C')
print('insert - ' , dummyLst)
print('pop -' , dummyLst.pop(1))
print('data - ', dummyLst)
print('특정 요소의 인덱스번지를 확인하고 싶다면? - index()')
print('index - ', dummyLst.index('A'))

type -  <class 'list'>
data - []
append -  ['A', 'B']
insert -  ['A', 'C', 'B']
pop - C
data -  ['A', 'B']
특정 요소의 인덱스번지를 확인하고 싶다면? - index()
index -  0

실습

In [ ]:
# 실습
MovierankLst= ['그루엘라', '랑종', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤']
MovierankLst.append('배트맨')
print(MovierankLst)

MovierankLst.insert(2,'임정섭')
print(MovierankLst)

MovierankLst. pop((4))
print(MovierankLst)

MovierankLst.pop((3))
MovierankLst.pop((3))
print(MovierankLst)

print(MovierankLst.index('그루엘라'))

MovierankLst.pop((0))
print(MovierankLst)

print('최종리스트 출력 -', MovierankLst)

['그루엘라', '랑종', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '모가디슈', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '반도', '킹덤', '배트맨']
0
['랑종', '임정섭', '반도', '킹덤', '배트맨']
최종리스트 출력 - ['랑종', '임정섭', '반도', '킹덤', '배트맨']

In [ ]:
MovierankLst= ['그루엘라', '랑종', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤']
MovierankLst.append('배트맨')
print(MovierankLst)

MovierankLst.insert(2,'임정섭')
print(MovierankLst)

MovierankLst. pop((4))
print(MovierankLst)

del MovierankLst[3]
del MovierankLst [3]
print(MovierankLst)

MovierankLst.pop(MovierankLst.index('그루엘라'))
print(MovierankLst)

print('최종리스트 출력 -', MovierankLst)

['그루엘라', '랑종', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '모가디슈', '강철비2', '반도', '킹덤', '배트맨']
['그루엘라', '랑종', '임정섭', '반도', '킹덤', '배트맨']
['랑종', '임정섭', '반도', '킹덤', '배트맨']
최종리스트 출력 - ['랑종', '임정섭', '반도', '킹덤', '배트맨']

In [ ]:
numLst = [1,2,3,4,5,6,7]
print('sum - ', sum(numLst))
print('max - ', max(numLst))
print('min - ', min(numLst))
print('mean -', sum(numLst) / len(numLst))

sum -  28
max -  7
min -  1
mean - 4.0

In [ ]:
# range() : 숫자 sequence 함수
tmpRange = range(10)
print('data-', tmpRange)
print('type-', type(tmpRange))

# 반복구문(루프구문)
# for ~ in 열거형변수 :
# tab 키는 띄어쓰기 4번한 값! 들여쓰기 필수
# print(), println()

for x in tmpRange :
  print(x, end="\t")
print()
print('loop 종료')

data- range(0, 10)
type- <class 'range'>
0	1	2	3	4	5	6	7	8	9
loop 종료

In [ ]:
tmpRange = range(1, 11, 2)
print(type(tmpRange))
for x in tmpRange :
  print(x , end="\t")
print()
print("종료")

<class 'range'>
1	3	5	7	9
종료

In [ ]:
flag = 10 in tmpRange
print('flag - ' , flag)

flag -  False

In [ ]:
import random

tmpLst = []
for x in range(6) :
  tmpLst.append(random. randint(1, 46))

print ( tmpLst )

[12, 8, 39, 6, 29, 4]

In [ ]:
# list comprehension
# list 구문안에 for 구문과 if 을 구현할 수 있다.
# 기존 리스트 안에서 처리된 결과를 다시 담는 구현 방식
# 구문형식) [ 실행구문 for 변수 in 열거형객체 if 조건식 ]
# Quiz
# 리스트의 요소의 값을 제곱승한 값의 결과를 확인하고 싶다.


lst = [2, 4 , 1, 5, 3]
result = []

for x in lst :
  result.append( x ** 2)
print()
print( result )

[4, 16, 1, 25, 9]

In [ ]:
result = [ x ** 2 for x in lst ]
print( result )

[4, 16, 1, 25, 9]

In [ ]:
# Quiz
# range() 함수를 이용해서 1 ~ 100 사이의 3의 배수만 리스트에 담아서 출력하시오
# 나머지값을 확인 (연산자 - 나머지연산자 % )
# 조건처리 (제어구문)
# if 조건문 or 데이터 :
#   문장
# else :
#   문장

In [ ]:
print (10 % 2 == 0)

True

In [ ]:
res = []
for x in range (1,101) :
  if x % 3 == 0 :
    res.append(x)
print()
print( res )

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# for 앞의 x는 실행구문을 의미

result = [ x for x in range(1, 101) if x%3 == 0]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# inner list
# [[]]

lst01 = ['a', 'b', 'c']
lst02 = ['d', 'e', lst01]

print(lst02)

['d', 'e', ['a', 'b', 'c']]

In [ ]:
lst01 = ['a', 'b', 'c']
lst02 = ['d', 'e', lst01]

print(lst02)
print(lst02[-1][1])

['d', 'e', ['a', 'b', 'c']]
b